﻿

@model MovieWebApp.ViewModels.RandomMovieModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Movies</h2>

<div>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</div>

<br/>

@if (Model.Movies.Count == 0)
{
    <text> There is no movies listed </text>
}

else
{

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th> Movie</th>
        </tr>

        </thead>
        <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td> @Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.ID }, null)</td>
            </tr>


        }

        </tbody>

    </table>

}