﻿
@model MovieWebApp.ViewModels.RandomMovieModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Customers</h2>

<div>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</div>

<br />

@if (Model.Customers.Count == 0)
{
    <text> There is no customer listed </text>
}
 
else
{

    <table class="table table-bordered table-hover">
        <thead>
        <tr>    
            <th> Customer</th>
            <th> Discount Rate</th>
            <th> Discount Type</th>
        </tr>

        </thead>
        <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td> @Html.ActionLink(customer.Name,"Edit","Customers", new { id = customer.Id}, null )</td>
                <td> @customer.MemberShipType.DiscountRate%</td>
                <td> @customer.MemberShipType.Name</td>
            </tr>
           

        }

        </tbody>

    </table>
   
}
